@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');

.header {
  height: 150px;
  background-color:#614D6D ;
}

.body {
  height: 350px;
  padding-top: 60px;
}
.main-title {
  text-align: left;
  margin-left: 20px;
  padding-top: 50px;
  font-family: 'Permanent Marker', cursive;
  color: white;
}

.custom-select {
  color: #f8f9fa;
  background-color: #6c757d;
}

.footer {
  height: 150px;
  background-color: #614D6D;
  padding-top: 30px;
  margin: 0px;
  position:absolute;
  bottom:0;
  width:100%;
}

#convert-form {
  height: 200px;
}

#footer-text {
  text-align: right;
  color: #A8A8A8;
  padding-top: 40px;
}

#convert-button {
  margin-top: 5px;
  width: 100%;
}

#all-fields{
  margin: 0 auto;
}

#inputGroupSelect04 {
  margin-left: 5px;
  margin-right: 5px;
}

